/* Fonts
--------------------------------------------------------*/


	@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');


@font-face {
	font-family: 'SourceSansVariable Semibold';
	src: url('../fonts/SourceSansVariable-Roman.ttf.woff2') format('woff2'),
		url('../fonts/SourceSansVariable-Roman.ttf') format('truetype'),
		url('../fonts/SourceSansVariable-Roman.otf') format('opentype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'SourceSansVariable Bold';
	src: url('../fonts/SourceSansVariable-Roman.otf') format('opentype'),
		url('../fonts/SourceSansVariable-Roman.ttf') format('truetype'),
		url('../fonts/SourceSansVariable-Roman.ttf.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}




/* Common styles
--------------------------------------------------------*/


*{
	outline: none !important;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


input[type="search"] {
	-webkit-appearance: textfield;
	font-size: 0.8rem;
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}



/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}


html {
	font-family: 'Roboto', sans-serif;
}

html,
body {
	height: 100%;
	line-height: 1.5;
	-webkit-font-smoothing: subpixel-antialiased !important;
	color: #000;
	-webkit-text-size-adjust: none;
}

body {
	background: #fff;
}

@media (min-width: 1200px){
	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 1330px;
	}
}

.t-center {
	text-align: center;
}

.marg-t {
	margin-top: 30px;
}

.marg-t-15 {
	margin-top: 15px;
}

.marg-b {
	margin-bottom: 30px;
}

.m-b-40{
	margin-bottom: 2.5rem;
}

.mt-6{
	margin-top: 4rem;
}

.mb-8{
	margin-bottom: 5rem !important;
}

.mt-8{
	margin-top: 5rem !important;
}

.mb-6{
	margin-bottom: 3.5rem;
}

.footer.page-main__row{
	padding: 0;
}

.hidden {
	display: none;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.block {
	position: relative;
}

.block:after {
	content: '';
	display: table;
	clear: both;
}

h1,
h2,
.h2,
h3,
.h3,
h4,
h5,
h6 {
	margin-top: 1.3rem;
	margin-bottom: 1.3rem;
	font-family: 'Roboto', sans-serif;
}

h4,
h5,
h6 {
	margin-top: 0.625rem;
	margin-bottom: 0.625rem;
	font-family: 'Roboto', sans-serif;
}

h1,
.h1 {
	font-size: 3.5rem;
	margin-bottom: 2rem;
}

h2,
.h2 {
	font-size: 1.75rem;
}

h3,
.h3 {
	font-size: 1.375rem;
	color: #000;
}

h4,
.h4 {
	font-size: 1.125rem;
}

h5,
.h5 {
	font-size: 0.875rem;
}

h6,
.h6 {
	font-size: 0.75rem;
}

input[type="text"]::-moz-placeholder {
	color: rgba(0, 0, 0, 0.2);
	/* Цвет подсказывающего текста */
}

input[type="text"]::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.2);
}

input[type="text"]:-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.2);
}

input[type="text"]::-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.2);
}

input[type="text"]::placeholder {
	color: rgba(0, 0, 0, 0.2);
}

a {
	-webkit-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	color: #0066AE;
	text-decoration: none;
}

a:hover {
	color: #6c615e;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	text-decoration: none;
}

.btn {
	display: inline-block;
	position: relative;
	padding: .9rem 2.3rem;
	border: 1px solid #E20613;
	-webkit-border-radius: 0px;
	border-radius: 2px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	background: #E20613;
	color: #fff;
	outline: none;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	cursor: pointer;
	text-align: center;
	text-decoration: none !important;
}



.btn:hover {
	background: transparent;
	color: #fff;
}

.btn.white {
	background: transparent;
	border-color: #fff;
	border-radius: 0;
}



.btn.white:hover {
	background: #fff;
	color: #0066AE;
}

.btn.blue {
	background: transparent;
	border-color: #0066AE;
	color: #0066AE;
	border-radius: 0;
	padding-left: 1.5rem;
	padding-right: 3rem;
	margin-bottom: 50px;
}

.btn.blue::after {
	content: '';
	position: absolute;
	background-image: url(../images/show_more-blue.svg);
	background-repeat: no-repeat;
	width: 15px;
	height: 7px;
	top: 50%;
	transform: translateY(-50%);
	right: 11%;
}

.btn.red::after {
    content: '';
    position: absolute;
    background-image: url(../images/red-arrow.svg);
    background-repeat: no-repeat;
    width: 5px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
    right: 18%;
}

.btn.red {
	background: transparent;
	border-color: #E20613;
	border-radius: 0;
	color: #E20613;
	padding: 0.9rem 2.7rem 0.9rem 1.9rem;
	font-family: 'Roboto', sans-serif;
}

.breadcrumbs {
	position: relative;
}

.search input[type=search]::-webkit-input-placeholder {
	color: rgba(0, 0, 0, .4);
	font-family: 'Roboto', sans-serif;
  }

.breadcrumbs ul{
	position: absolute;
	font-family: 'Roboto', sans-serif;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(255,255,255, 0.2);
    padding: 5px 15px;
    
}

.breadcrumbs li{
	display: inline-block;
}


.breadcrumbs a {
    color: #fff;
    opacity: .5;
    padding: 3px 5px;
}

.slick-dotted.slick-slider{
	margin: 0;
}

.btn.blue:hover {
	background: #0066AE;
	color: #fff;
}

.page {
	position: relative;
	min-width: 320px;
	min-height: 100%;
}

.page-main {
	position: relative;
	min-width: 320px;
}

.page-main__row {
	position: relative;
	padding: 4rem 0 0;
}

.arts-home__item {
	position: relative;
	height: 373px;
}

.arts-home__item:last-child {
	margin-bottom: 0;
}

.social-icon {
	position: absolute;
	right: 35px;
	top: 20px;
	z-index: 1;
	width: 30px;
	height: 30px;
}

.fb {
	background-image: url(../images/facebook-icon.svg);
}

.vk {
	background-image: url(../images/vk-icon.svg);
}

.arts-home__item.blog_with-img .gallery-home-category a,
.arts-home__item.blog_with-img .our_events-date {
	color: #ffffff;
}

.blog_with-img {
	height: 100%;
}

.blog_with-img .gallery-home-content .gallery-home-category a {
	color: #ffffff;
}

.gallery-home__item {
	position: relative;
	text-align: left;
	padding: 0 15px;
}

.img_gallery-home {
	display: inline-block !important;
}

.gallery-home-text {
	font-family: 'Roboto', sans-serif;
	color: rgba(0, 0, 0, .8);
}

.gallery-home-content {
    padding: 20px 1rem;
    position: relative;
    min-height: 373px;
    background-color: #F2F2F2;
}

.gallery-home-content .gallery-home-category a {
	display: inline-block;
	font-size: 0.75rem;
    color: #0066AE;
    line-height: 1.2;
    position: relative;
    padding-left: 14px;
    font-family: 'Roboto', sans-serif;
}

.gallery-home-content .gallery-home-category a::before {

	content: '';
	position: absolute;
	left: 0;
	top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
            transform: translateY(-50%);
	width: 1px;
	min-height: 20px;
	height: 100%;
	background-color: #E20613;
}

.gallery-home-more {
	position: relative;
	padding: 0;
}

.gallery-home-more::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	left: 0;
	top: 0;
	background-color: #E20613;
}

.gallery-home-more .more-btn-wrap {
	position: absolute;
	top: 0;
	right: 0;
}

.gallery-home-more .more-btn-wrap.active{
	bottom: 0;
	top: initial;
}

.gallery-home-more .more-btn {
	position: relative;
	width: 36px;
	height: 36px;
	cursor: pointer;
	right: 0;
	top: 0;
	background-color: #E20613;
}

.circle-row {
	background-color: #fff;
	position: absolute;
	width: 18px;
	height: 2px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%) rotate(0deg);
	-ms-transform: translate(-50%, -50%) rotate(0deg);
	transform: translate(-50%, -50%) rotate(0deg);
}

.circle-row+.circle-row {
	-webkit-transform: translate(-50%, -50%) rotate(90deg);
	-ms-transform: translate(-50%, -50%) rotate(90deg);
	transform: translate(-50%, -50%) rotate(90deg);
}

.more-btn-wrap.active .circle-row {
	-webkit-transform: translate(-50%, -50%) rotate(0deg);
	-ms-transform: translate(-50%, -50%) rotate(0deg);
	transform: translate(-50%, -50%) rotate(0deg);
}

.gallery-home-more ul {
	padding: 0 10px 32px 55px;
}

.gallery-home-more-content-wrap,
.show_more-blog {
	display: none;
}

.more-btn-wrap.active+.gallery-home-more-content-wrap {
	display: block;
	padding-top: 1.5rem;
	padding-bottom: 3rem;
	background-color: #f2f2f2;
}

.btn.blue.less::after {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	top: 45%;
}

.img {
	max-width: 100%;
	vertical-align: middle;
}

.logo {
	float: left;
}

.heading,
h1 {
	position: relative;
	font: 3.5rem/1.2 'Roboto', sans-serif;
	color: #000;
	margin-bottom: 1.875rem;
	text-align: center;
}



.heading_center {
	text-align: center;
}

.heading_center:before {
	width: 117px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
@media (max-width:576px){
	.gallery-home-content {
		padding: 20px 1rem;
	}
}


/* Callback
--------------------------------------------------------*/

.callback-wrap input[type="text"],
.callback-wrap input[type="password"],
.callback-wrap textarea,
.callback-wrap select {
	display: block;
	width: 100%;
	/*height: 40px;*/
	padding: 16px;
	font-size: 15px;
	line-height: 1.42857143;
	color: #333;
	background-color: #efefef;
	border: 1px solid #e4e4e4;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s, , background ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, background ease-in-out .15s;
	transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s, , background ease-in-out .15s;
	-webkit-transition: border-color ease-in-out .15s, background ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, background ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, background ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, background ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s, , background ease-in-out .15s;
}

.callback-wrap input[type="text"]:focus,
.callback-wrap input[type="password"]:focus,
.callback-wrap textarea:focus,
.callback-wrap select:focus {
	border-color: #66afe9;
	background: #fff;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

textarea {
	height: 152px;
}




@media screen and (max-width: 1199px) {

	
	.services__item:first-child .link_services {
		padding-left: 10px;
		margin-left: 5px;
	}


	.logo {
		text-align: center;
	}
}


@media screen and (max-width: 575px) {
	.page-main__row {
		background-position: left center !important;
		-webkit-background-size: auto auto !important;
		background-size: auto !important;
	}
	.heading, h1 {
		font-size: 2rem;
	}
	
}



#contactForm>div {
	margin-bottom: 1rem;
}

#contactForm>div:last-child {
	margin-bottom: 0;
}

.fileform .btn+.btn {
	margin-top: 1rem;
}

.slicknav_menu {
	display: none;
}


.callback-wrap {
	display: none;
	position: fixed;
	z-index: 100;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, .6);
}

.callback-layout {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 50px 0 60px;
	display: -ms-grid;
	display: grid;
	height: 100%;
}

.callback {
	position: relative;
	margin: auto;
	padding: 2.5rem 3.75rem;
	background: #fff;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .9);
	box-shadow: 0 0 10px rgba(0, 0, 0, .9);
	width: 100%;
	max-width: 500px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.callback-files.checked {
	background: #35ff89;
	border-color: #35ff89;
}

.callback-files.checked:after {
	content: '\f00c';
	display: inline-block;
	margin-left: .3125rem;
	font: 16px/1 'FontAwesome';
	color: #fff;
}

.callback-close {
	font-size: 20px;
	position: absolute;
	cursor: pointer;
	top: 10px;
	right: 15px;
	color: #FF8700;
}

.chbx-lbl sup {
	color: red;
	font-size: 18px;
}

.chbx-lbl div {
	display: none;
	color: #333;
	font-size: .875rem;
	line-height: 1.2;
	margin-top: 1.25rem;
}

@media screen and (max-width: 767px) {


	#contactForm>.clearfix>div {
		margin-bottom: 1rem;
	}

	#contactForm>.clearfix>div:last-child {
		margin-bottom: 0;
	}

	
	.callback-layout {
		display: block;
		padding-top: 20px;
	}

	.callback {
		padding: .9375rem;
	}

	.callback .heading {
		display: none;
	}

	.callback input[type="text"] {
		padding: .3125rem;
	}

	.callback textarea {
		height: 55px;
	}

	.callback-close {
		top: -3px;
		right: 0px;
	}
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #E20613;
}

.nav-pills .nav-link {
    border-radius: 0;
}

.nav-pills .nav-link {
    padding: 1.75rem 5rem;
}



.our-events .pagination{
	justify-content: center;
	margin-top: 1rem;
	margin-bottom: 4rem;
}

.our-events .page-link{
	border: none;
	font-size: 1.125rem;
	font-family: 'Roboto', sans-serif;
	color: #0066AE;
	padding: 0.3rem 0.3rem;
}

.our-events .page-link.active{
	color: #E20613;
}